<head th:fragment="head">
<meta charset="UTF-8" />
<link rel="stylesheet"	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
<link
	href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link
	href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
	rel="stylesheet">
<style>
	.logo-container {
		background-color: #AA9E39;
		font-family: 'Montserrat',;
		color: #FFF;
	}
	
	.logo {
		font-family: 'Montserrat',;
		font-size: 2.5rem;
	}
</style>
</head>

<div th:fragment="logo"
	class="logo-container mb-3 p-3 d-flex justify-content-between">
	<span class="logo">Estoque Zero</span> <span class="mt-3">Login</span>
</div>

<div th:fragment="titulo(valor)" class="jumbotron mb-0">
	<h1 class="display-4" th:text="${valor}"></h1>
</div>